@charset="UTF-8";
@font-face{
	font-family: 'Myraid';
	src: url("../fonts/MyriadPro-Regular.otf");
}
*{
	margin: 0px;
	padding: 0px;
	outline: none;
  text-decoration: none;
}
body{
	font-size: 62.5%;
	font-family: Myraid;
	background: #03CDD6;
}
.page{
	width: 100%;
  height: 100%;
}
.logo{
	width: 400px;
	height: 130px;
	margin: auto;
	padding-top: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 4.5em;
}
.logo p{
	text-align: center;
}
.logo p a{
  color: #fff;
  text-decoration: none;
}
.form{
	width: 360px;
	height: 390px;
  background: #fff;
	margin: auto;
	padding: 70px 0px 0px 0px;	
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border-radius: 4px;
	box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.1), 0px 24px 38px -16px rgba(0, 0, 0, 0.2);
}
.group{
      width: 266px;
      margin: auto;
      position: relative;
      margin-bottom: 2.4em;
}
.fields{
	color: #03CDD6;
  font-size: 1.6em;
  padding: 15px 0px 15px 0px;
  display: block;
  outline: none;
  border: none;
  width: 266px;
  border-bottom: 1px solid #d2d2d2; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.bar{
      position: relative;
      display: block;
      width: 266px;
    }
    .bar:before, .bar:after{
      content: "";
      height: 2px;
      width: 0;
      bottom: -1px;
      position: absolute;
      background: #03CDD6;
      -webkit-transition: 0.2s ease all;
      -o-transition: 0.2s ease all;
      transition: 0.2s ease all;
    }
    .bar:before { left: 50%;}
    .bar:after { right: 50%;}

/*input:valid{
      border-bottom: 1px solid #4fc24f;
    }
    
    input:valid ~ .bar:before,
    input:valid ~ .bar:after{
      background-color: #4fc24f !important;
    }
*/
input:focus ~ label,
    input.used ~ label{
      top: -20px;
      font-size: 13px;
      color: #03CDD6;
    }

    /*input:valid ~ label,
    input:valid.used ~ label{
      color: #4fc24f;
    }
*/
    input:focus ~ .bar:before,
    input:focus ~ .bar:after{
      width: 50%;
    }
.form label{
      color: #d2d2d2;
      font-size: 2.0em;
      font-weight: normal;
      font-family: sans-serif;
      position: absolute;
      pointer-events: none;
      top: 10px;
      -webkit-transition: 0.2s ease all;
      -o-transition: 0.2s ease all;
      transition: 0.2s ease all;
    }

.forgot {
  text-align: center;
  padding-bottom: 20px;
}
.forgot a{
  color: #03CDD6;
  font-size: 1.6em;
  font-weight: bold;
}
.forgot a:hover{
  transition: 0.2s linear;
  color: #009DA4;
}
.alert{
  width: 200px;
  height: 30px;
  border-radius: 3px;
  margin: auto;
  padding-top: 12px;
  text-align: center;
  font-size: 1.4em;
  color: #fff;
  background: #F75959;
}
.bt-signin{
  width: 266px;
  height: 40px;
  border: none;
  background: #03CDD6;
  color: #fff;
  font-size: 2.0em;
}
.bt-signin:hover{
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  background: #009DA4;
}
.footer p{
  font-size: 2.0em;
  padding: 60px 0px 60px 0px;
  text-align: center;
  color: #fff;
}